@use "./variables" as *;
@use "./mixins" as *;

/* FOOTER */

footer {
    background-color: $primaryBlackTwo;
    color: $primaryWhite;
    @include footerText(0.65rem); // 13px;

    p,
    li,
    a {
        color: $primaryBrownGrey;
    }

    section {
        display: flex;
        justify-content: space-between;
        padding: 80px 0;
        
        .ourAddress,
        .recentPosts,
        .subNow {
            width: calc(100%/3);

            .lastList {
                border: none;
            }
        }

        .ourAddress{
            li{
                width: 90%;
                padding: 20px 0;
                border-bottom: 2px solid rgb(104,104,104, 0.5); //I am aware that this is the color palette given; however this rgb with the level of opacity was more alike the original design 
            }

            .footerNote {
                padding-top: 33px;
            }
        }

        .recentPosts {
            h3 {
                @include footerHeading(0.9rem);
            }
            
            ul {
                padding-top: 20px;

                li {
                    width: 85%;
                    padding: 14px 0;
                    border-bottom: 2px solid rgb(104,104,104, 0.5);
                }
            }
        }

        fieldset {
            width: 100%;
            border-bottom: 2px solid rgb(104,104,104, 0.5);
            padding-bottom: 20px;
        }

        .subNow {
            h3 {
                @include footerHeading(0.9rem);
            }

            p {
                width: 100%;
                line-height: 20px;
                padding-top: 40px;
                padding-bottom: 35px;
            }

            .emailSub {
                display: flex;

                input {
                    width: 80%;
                    padding: 15px 10px;
                }

                button {
                    width: 20%;
                    background-color: $primaryGreen;
                    border: none;
                    color: $primaryWhite;
                }
            }
        }
        
        .socials {
            display: flex;
            gap: 20px;
            padding: 20px 0;
        }
    }

    .copyrightColor {
        background-color: $primaryBlack;
    
        .copyright {
            padding: 0;
            p {
                margin: 0;
            }
        }
    }
}
