@use "./variables" as *;
@use "./mixins" as *;



.blogText{
    padding-top: 150px;

    .blogDate {
        margin: 0;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 20px;
    }
    

    // Creating a section for the tags & socials. Put them in a div to make shifting their position easier
    .tagsAndSocials {

        padding: 30px 0;
        margin: 30px 0;

        border-top: 2px solid $secondaryLightGrey;
        border-bottom: 2px solid $secondaryLightGrey;

        h4 {
            font-weight: 700;
        }
        
        p {
            margin: 0;
        }


        .tags {
            display: flex;
            gap: 10px;
            margin-bottom: 20px;

            p {
                color: $primaryBrownGrey;
            }
        }

        .shareSocials {
            display: flex;
            align-items: center;
            gap: 10px;

            .fa-facebook,
            .fa-instagram,
            .fa-twitter {
                color: grey;
                margin-right: 5px;
        
            }

            .socials {
                display: flex;
                gap: 10px;

            }

        }
    }
}

.aboutMe {
    display: flex;
    padding: 0 0;
    padding-bottom: 30px;
    border-bottom: 2px solid $secondaryLightGrey;

    .imageContainer{
        width: 300px;

        img {
            height: 200px
        }
        
    }

    .bio {
        background-color: $primaryLightGrey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
        height: 200px;
        margin-left: 20px;

        p {
            margin-top: 25px;
        }
    }
}

.relatedPosts {
    h4 {
        padding: 30px 0;
    }

    ul {
        display: flex;
        border-bottom: 2px solid $secondaryLightGrey;
        padding-bottom: 20px;
        justify-content: space-between;

        li {
            flex-basis: 32%;

            a {
                color: $primaryBlack;
                @include bodyStyle(1rem);
            }
            
            p {
                margin:0;
            }

        }
    }
}

.comments {
    h3 {
        padding: 30px 0;
    }

    .commentBox {
        margin-bottom: 20px;
    }

    .commentsFlex {
        .firstComment,
        .secondComment {
            display:flex;
            gap: 30px;
            
        .arrowFlex {
            display: flex;
            width: 100%;

            .arrowBox {
                padding-top:10px;
            }

        }
        
            .commentGrow{
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-grow:1;
                background-color: $secondaryLightGrey;
                height: 150px;
                padding: 10px;
                padding-left: 25px;
                
                p {
                    margin: 10px 0;
                }
            }

            // to make a left pointing arrow for the comment section, pointing to the authors
            .arrowleft {
                width: 0; 
                height: 0; 
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right:10px solid $secondaryLightGrey; 
                left: 6%;
                top: 10%;
                }
    }
    }
}

.leaveAComment {
    padding-top: 30px;

    h4 {
        margin-top: 15px;
    }

    p {
        margin-bottom: 20px;
    }

    .userInfo {
        display:flex;
        gap: 20px;
        
        input {
            flex-grow: 1;
            padding: 15px 10px;
            border: none;
        }
    }

    #comments {
        margin: 20px 0;
        padding: 15px 10px;
        width: 100%;
        border: none;
    }

    button {
        background-color: $primaryGreen;
        color: $primaryWhite;
        border: none;
        padding: 10px 35px;
        margin-bottom: 20px;
    }

}

