@use "./variables" as *;
@use "./mixins" as *;

.imageContainer {
    width: 50%;
}

.bodyFlex{
    display: flex;
    align-items: center;
}


.popularRecipes {

    .homeTextOne {
        width: 50%;
        text-align: center;
        justify-content: center;
        padding: 8%;

        .popularRecipesHeader{
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                padding-bottom: 10px;
            }

            .underline {
                border-top: 4px solid $primaryGreen;
                width: 10%;
            }
        }

     

        p {
            margin-top: 20px;
            color: $primaryBrownGrey;
        }

        button {
            background-color: $primaryGreen;
            color: white;
            border: none;
            padding: 10px 35px;
            font-size: 0.7rem;
            margin-top: 20px;
        }

    }
}


.meals {

    background-color: $primaryLightGrey;

    .menuFlex{
        justify-content: space-evenly;
        gap: 50px;
        padding: 3%;
    }

    ul {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        // .menuOne,
        // .menuTwo,
        // .menuThree,
        // .menuFour,
        // .menuFive,
        // .menuSix {

        // }
        

        a {
            color: $primaryBlack;

            h3 {
                font-size: 1rem;
            }

            p {
                color: $primaryBrownGrey;
            }
        }

        li {
            width: 45%;
            display: flex;

            i {
                padding-top: 15%;
                margin-right: 8px;
                min-width: 50px;
            }

            .fa-spoon {
                padding-left: 20%;
            }

        }
    }

}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 200px;

    .imageContainer {
        width: 35%;
        padding-bottom: 50px;
        position: relative;
    }

    .circleText {
        width: 30%;
        position: absolute;
        top: -27%;
        left: 85%;
    }

    .aboutUs {
        width: 50%;
        margin-bottom: 100px;
        
        .aboutUsHeader {
            display:flex;
            flex-direction: column;
            align-items: center;

            h2 {
                padding-bottom: 10px;
            }

            .underline {
                border-top: 4px solid $primaryGreen;
                width: 8%;
                padding-bottom: 30px;
            }
        }

        p {
            color: $primaryBrownGrey;
        }

    }

}

.homeGallery {
    ul {
        display: flex;
        flex-wrap: wrap;
        
        li {
            width: calc((100%/3));
        }
    }
}


.testimonals {

    background-color: $secondaryGreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10% 20%;

    p {
        margin-top: 40px;
        font-family: 'Lora', serif;
        font-size: 1.2rem;
        line-height: 36px;
        letter-spacing: 0.6px;
        font-style: italic;

    }

    .underline {
        border-top: 4px solid $primaryGreen;
        width: 5%;
        margin-top: 10px;
        padding-bottom: 20px;
    }

    .fa-quote-right,
    .fa-quote-left,
    .fa-angle-left,
    .fa-angle-right {
        color: $primaryWhite;
    }

    .customerQuote {
        display: flex;
        position: relative;

        .fa-quote-left {
            position: absolute;
            left: -5%;
        }


        .fa-quote-right{
            position: absolute;
            right: -4%;
            bottom: -10%;
        }
    }

    .leftRight {
        display: flex;
        gap: 50px;
        padding-top: 50px;
    }

    .fa-angle-left:hover,
    .fa-angle-right:hover {
        opacity: 0.5;
    }

}