@use "./variables" as *;
@use "./mixins" as *;


@media (max-width: 1500px) {

    // HEADER
    header {
        .menuFlex {
            width: 50%;
        }
    }

    // HOME
    .menuFlex {
        gap: 0 !important;

        li {
            padding-bottom: 2% !important;
        }
    }
}


@media (max-width: 1250px) {

    // HOME
    .homeTextOne {
        padding: 0% !important;

        h2 {
            font-size: 1rem !important;
        }

        p {
            font-size: 0.6rem !important;
            margin: 20px 10% !important;
        }
    }


    .menuFlex {
        padding: 0 !important;

        .fa-bars {
            font-size: 2em;
        }

        h3 {
            font-size: 1rem !important;
        }

        p {
            font-size: 0.55rem !important;
            line-height: 20px !important;
        }

        li {
            padding-bottom: 2% !important;
        }
    }

    // Blog
    .bio {
        padding: 10px 2%;
        margin: 0;
        p {
            font-size: 0.65rem;
            line-height: 20px;
        }
    }

    footer {
        .recentPosts{
            li {
                width: 90% !important;
            }
        }
    }
}

// ==============================================
/* Portrait tablet and small desktops */
// ==============================================

@media (max-width: 1000px) {

    // HEADER
    header {
        .menuFlex {
            display:none;
        }
    

        .menuWrap {
            display: inline;
          }

    }


    // HOME
    .bodyFlexOne {
        flex-direction: column-reverse;
        padding-bottom: 20px !important;

        .imageContainer {
            width: 60%;
        }

        .homeTextOne {
            width: 90% !important;
            padding-top: 20px !important; 
        }
    }

    .bodyFlexTwo {
        flex-direction: column;
        padding:  0% !important;

        .imageContainer {
            width: 60%;
        }

        .homeTextOne {
            padding: 20px 0% !important;
        }

        .menuFlex {
            width: 90% !important;
            justify-content: center;
            padding-top: 20px !important;;

            .iconContainer {
                text-align: center;
            }

            i {
                font-size: 2em !important;
            }
        }
    }

    .about {
        padding-top: 100px !important;

        .imageContainer {
            width: 70% !important;
        }

        .aboutUs {
            width: 70% !important;
        }
    }

    .homeGallery {
        ul {
            flex-wrap: wrap;

            li {
                width: 50% !important;
            }
        }
    }

    .testimonals {
        p {
            font-size: 0.8rem !important;
        }
    }


    // BLOG
    .aboutMe {
        flex-direction: column;
        align-items: center;

        .imageContainer {
            width: 18%;

            padding-bottom: 20px;
        }
    }

    .mainContactUs {
        flex-direction: column;

        .emailUs,
        .contactDetails {
            width: 100%;
            padding: 0 10%;

            h2 {
                padding-top: 50px;
            }
        }

        .contactDetails {
            div {
                width: 100%;

                h2,
                h3 {
                    padding-top: 50px;
                }
            }
        }
    }
}


// ==============================================
/* Landscape phone to portrait tablet */
// ==============================================
@media (max-width: 800px) {


    // HOME
    .bodyFlex{
    .imageContainer {
        width: 90% !important;
    }

        li {
            width: 50% !important;
        }

        i {
            margin: 0px !important;
        }
    }


    // BLOG
    .bio {
        padding: 5px !important;
        height: auto !important;
    }

    .cardContainer {
        ul {

            padding-bottom: 0 !important;

            flex-direction: column;

            p {
                margin-bottom: 40px !important;
            }
        }
    }

    .commentGrow {
        height: auto !important;
    }

    .userInfo {
        flex-direction: column;
    }
}


// ==============================================
/* Landscape phones and down */
// ==============================================
@media (max-width: 620px) {

    // HOME
    .menuFlex {
        padding: 0 !important;
    }

    .iconContainer {
        width: 20%;
        text-align: left !important;
    }


    // BLOG
    .aboutMe {
        .imageContainer {
            width: 30% !important;
    }
    }


    // FOOTER
    footer {
        section {
            flex-direction: column;

            .ourAddress,
            .subNow,
            .recentPosts
            {
               width: 100%;

                ul {
                    padding-top: 10px;
                }

               ul li {
                padding-top: 10px !important;
                padding-bottom: 5px;
               }
               
               .lastList {
                padding-bottom: 40px;
               }

               p {
                padding: 10px 0;
               }
            }
        }

        .copyright {
            font-size: 0.6rem !important;
    }
    }
}
