@use "variables" as *;

// ----------------------------------------------- //
/* FOOTER */

footer {
    background-color: #333333;
    font-family: 'Lora', serif;
    color: #f6f6f6;
}

.footer {
    justify-content: space-between;
    text-align: left;
    padding: 100px 0;
    padding-left: 80px;
}

footer section {
    display: flex;
    align-content: center;
}


footer section div {
    flex-direction: column;
    width: 32%;
}

footer h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.contactUs ul {
    width: 60%;
}

footer li {
    margin: 20px 0;
}

footer li,
footer p,
footer a {
    font-size: 0.7rem;
    letter-spacing: 0.3px;
}

.footerNote {
    margin-top: 30px ;

}

.contactUs li {
    border-bottom: 1px solid white;
    padding-bottom: 13px;
}

.recentPosts li {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.contactUs .lastList,
.recentPosts .lastList {
    border: none;
    padding-bottom: 0;
}

.recentPosts ul {
    width: 60%;
}

.subNow p {
    width: 65%;
}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

button[type=submit] {
    display: inline-block;
}

.emailSub {
    display: flex;
    flex-direction: row;
}

footer .socials {
    padding-top: 30px;
    
}

footer .socials a {
    margin-right: 10px;
}

.copyrightColor {
    background-color: #2E2E2E;
}

.copyright {
    font-size: 0.3rem;
    padding-left: 80px;
}


.green {
    color: $greenFont;
}