//Colour palette
$primaryGreen: #64A604;
$secondaryGreen: #DDED9A;

$primaryBlack: #2E2E2E;
$primaryBlackTwo: #333333;

$primaryBrownGrey: #999999;

$primaryWhite: #F6F6F6;

// Fonts
$raleway: 'Raleway', sans-serif;
$lora: 'Lora', serif;