html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* FOOTER */
footer {
  background-color: #333333;
  color: #F6F6F6;
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.3px;
  font-size: 0.65rem;
}
footer p,
footer li,
footer a {
  color: #999999;
}
footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}
footer section .ourAddress,
footer section .recentPosts,
footer section .subNow {
  width: 33.3333333333%;
}
footer section .ourAddress .lastList,
footer section .recentPosts .lastList,
footer section .subNow .lastList {
  border: none;
}
footer section .ourAddress li {
  width: 90%;
  padding: 20px 0;
  border-bottom: 2px solid rgba(104, 104, 104, 0.5);
}
footer section .ourAddress .footerNote {
  padding-top: 33px;
}
footer section .recentPosts h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.6px;
  font-size: 0.9rem;
}
footer section .recentPosts ul {
  padding-top: 20px;
}
footer section .recentPosts ul li {
  width: 85%;
  padding: 14px 0;
  border-bottom: 2px solid rgba(104, 104, 104, 0.5);
}
footer section fieldset {
  width: 100%;
  border-bottom: 2px solid rgba(104, 104, 104, 0.5);
  padding-bottom: 20px;
}
footer section .subNow h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.6px;
  font-size: 0.9rem;
}
footer section .subNow p {
  width: 100%;
  line-height: 20px;
  padding-top: 40px;
  padding-bottom: 35px;
}
footer section .subNow .emailSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer section .subNow .emailSub input {
  width: 80%;
  padding: 15px 10px;
}
footer section .subNow .emailSub button {
  width: 20%;
  background-color: #64A604;
  border: none;
  color: #F6F6F6;
}
footer section .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 20px 0;
}
footer .copyrightColor {
  background-color: #2E2E2E;
}
footer .copyrightColor .copyright {
  padding: 0;
}
footer .copyrightColor .copyright p {
  margin: 0;
}

/* HEADER */
header {
  background-image: url(../assets/home-1.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
header.blog {
  background-image: url(../assets/blog-1.jpeg);
  height: 60vh;
}
header.contactPage {
  background-image: url(../assets/contact-1.jpeg);
  height: 60vh;
}
header .navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}
header .flexItems {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
header .menuFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}
header h1 {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  letter-spacing: 1.1px;
  font-weight: 700;
  font-size: 2.3rem;
}
header a {
  color: #2E2E2E;
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-size: 0.7rem;
  font-weight: 700;
}
header .menuWrap {
  display: none;
}

html {
  font-size: 125%;
}

body {
  background-color: #F6F6F6;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #F6F6F6;
}

a:hover,
a:focus {
  opacity: 0.7;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

figure {
  margin: 0;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

button:hover,
button:focus {
  opacity: 0.7;
  cursor: pointer;
}

.nextLine {
  display: block;
}

.green {
  color: #64A604;
}

.unbold {
  font-weight: 400;
}

textarea {
  resize: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

body,
button,
section li {
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-size: 0.7rem;
}

section h1,
section h2,
section h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.6px;
  font-size: 1.5rem;
}

input,
button {
  font-family: "Lora", serif;
}

input,
textarea {
  color: #999999;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
  color: #FFF;
}

.imageContainer {
  width: 50%;
}

.bodyFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popularRecipes .homeTextOne {
  width: 50%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8%;
}
.popularRecipes .homeTextOne .popularRecipesHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popularRecipes .homeTextOne .popularRecipesHeader h2 {
  padding-bottom: 10px;
}
.popularRecipes .homeTextOne .popularRecipesHeader .underline {
  border-top: 4px solid #64A604;
  width: 10%;
}
.popularRecipes .homeTextOne p {
  margin-top: 20px;
  color: #999999;
}
.popularRecipes .homeTextOne button {
  background-color: #64A604;
  color: white;
  border: none;
  padding: 10px 35px;
  font-size: 0.7rem;
  margin-top: 20px;
}

.meals {
  background-color: #F0F0F0;
}
.meals .menuFlex {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 50px;
  padding: 3%;
}
.meals ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.meals ul a {
  color: #2E2E2E;
}
.meals ul a h3 {
  font-size: 1rem;
}
.meals ul a p {
  color: #999999;
}
.meals ul li {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.meals ul li i {
  padding-top: 15%;
  margin-right: 8px;
  min-width: 50px;
}
.meals ul li .fa-spoon {
  padding-left: 20%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 200px;
}
.about .imageContainer {
  width: 35%;
  padding-bottom: 50px;
  position: relative;
}
.about .circleText {
  width: 30%;
  position: absolute;
  top: -27%;
  left: 85%;
}
.about .aboutUs {
  width: 50%;
  margin-bottom: 100px;
}
.about .aboutUs .aboutUsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .aboutUs .aboutUsHeader h2 {
  padding-bottom: 10px;
}
.about .aboutUs .aboutUsHeader .underline {
  border-top: 4px solid #64A604;
  width: 8%;
  padding-bottom: 30px;
}
.about .aboutUs p {
  color: #999999;
}

.homeGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.homeGallery ul li {
  width: 33.3333333333%;
}

.testimonals {
  background-color: #DDED9A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10% 20%;
}
.testimonals p {
  margin-top: 40px;
  font-family: "Lora", serif;
  font-size: 1.2rem;
  line-height: 36px;
  letter-spacing: 0.6px;
  font-style: italic;
}
.testimonals .underline {
  border-top: 4px solid #64A604;
  width: 5%;
  margin-top: 10px;
  padding-bottom: 20px;
}
.testimonals .fa-quote-right,
.testimonals .fa-quote-left,
.testimonals .fa-angle-left,
.testimonals .fa-angle-right {
  color: #F6F6F6;
}
.testimonals .customerQuote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.testimonals .customerQuote .fa-quote-left {
  position: absolute;
  left: -5%;
}
.testimonals .customerQuote .fa-quote-right {
  position: absolute;
  right: -4%;
  bottom: -10%;
}
.testimonals .leftRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  padding-top: 50px;
}
.testimonals .fa-angle-left:hover,
.testimonals .fa-angle-right:hover {
  opacity: 0.5;
}

.blogText {
  padding-top: 150px;
}
.blogText .blogDate {
  margin-top: 10px;
  margin-bottom: 30px;
}
.blogText .mainBlogText {
  color: #999999;
}
.blogText .mainBlogText p {
  margin-bottom: 20px;
}
.blogText .tagsAndSocials {
  padding: 30px 0;
  margin: 30px 0;
  border-top: 2px solid #E8E8E8;
  border-bottom: 2px solid #E8E8E8;
}
.blogText .tagsAndSocials h4 {
  font-weight: 700;
}
.blogText .tagsAndSocials p {
  margin: 0;
}
.blogText .tagsAndSocials .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.blogText .tagsAndSocials .tags p {
  color: #999999;
}
.blogText .tagsAndSocials .shareSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.blogText .tagsAndSocials .shareSocials .fa-facebook,
.blogText .tagsAndSocials .shareSocials .fa-instagram,
.blogText .tagsAndSocials .shareSocials .fa-twitter {
  color: grey;
  margin-right: 5px;
}
.blogText .tagsAndSocials .shareSocials .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0;
  padding-bottom: 30px;
  border-bottom: 2px solid #E8E8E8;
}
.aboutMe .imageContainer {
  width: 300px;
}
.aboutMe .imageContainer img {
  height: 150px;
  width: 100px;
}
.aboutMe .bio {
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  height: 150px;
  margin-left: 20px;
}
.aboutMe .bio h4 {
  font-size: 0.8rem;
  font-weight: 700;
}
.aboutMe .bio p {
  margin-top: 10px;
  color: #999999;
}

.relatedPosts h4 {
  padding: 30px 0;
  font-size: 1rem;
  font-weight: 700;
}
.relatedPosts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #E8E8E8;
  padding-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.relatedPosts ul li {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}
.relatedPosts ul li h3 {
  margin-top: 15px;
}
.relatedPosts ul li a {
  color: #2E2E2E;
  font-family: "Lora", serif;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
  font-size: 1rem;
}
.relatedPosts ul li p {
  margin: 0;
}

.comments h3 {
  padding: 30px 0;
  font-size: 0.8rem;
}
.comments .commentBox {
  margin-bottom: 20px;
}
.comments .commentsFlex .firstComment,
.comments .commentsFlex .secondComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.comments .commentsFlex .firstComment .arrowFlex,
.comments .commentsFlex .secondComment .arrowFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.comments .commentsFlex .firstComment .arrowFlex .arrowBox,
.comments .commentsFlex .secondComment .arrowFlex .arrowBox {
  padding-top: 10px;
}
.comments .commentsFlex .firstComment .commentGrow,
.comments .commentsFlex .secondComment .commentGrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #E8E8E8;
  height: 150px;
  padding: 10px;
  padding-left: 25px;
}
.comments .commentsFlex .firstComment .commentGrow .commentDate,
.comments .commentsFlex .secondComment .commentGrow .commentDate {
  font-size: 0.5rem;
  font-weight: bold;
}
.comments .commentsFlex .firstComment .commentGrow p,
.comments .commentsFlex .secondComment .commentGrow p {
  margin: 10px 0;
}
.comments .commentsFlex .firstComment .arrowleft,
.comments .commentsFlex .secondComment .arrowleft {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #E8E8E8;
  left: 6%;
  top: 10%;
}

.leaveAComment {
  padding-top: 30px;
}
.leaveAComment h4 {
  margin-top: 15px;
}
.leaveAComment p {
  color: #999999;
  margin-top: 5px;
  margin-bottom: 20px;
  font-style: italic;
}
.leaveAComment .userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.leaveAComment .userInfo input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px 10px;
  border: none;
}
.leaveAComment #comments {
  margin: 20px 0;
  padding: 15px 10px;
  width: 100%;
  border: none;
}
.leaveAComment button {
  background-color: #64A604;
  color: #F6F6F6;
  font-weight: bold;
  border: none;
  padding: 20px 30px;
  margin-bottom: 100px;
}

.mainContactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mainContactUs h3 {
  font-family: "Lora", serif;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
}
.mainContactUs .emailUs {
  width: 60%;
  padding-left: 13%;
  padding-right: 30px;
}
.mainContactUs .emailUs h2 {
  padding-top: 100px;
  padding-bottom: 40px;
}
.mainContactUs .emailUs .userInfo {
  gap: 20px;
}
.mainContactUs .emailUs fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mainContactUs .emailUs fieldset input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px 15px;
  margin-bottom: 20px;
  border: none;
  background-color: #F0F0F0;
}
.mainContactUs .emailUs fieldset textarea {
  width: 100%;
  padding: 15px 15px;
  border: none;
  background-color: #F0F0F0;
}
.mainContactUs .emailUs button {
  margin: 20px 0;
  background-color: #F6F6F6;
  border: none;
}
.mainContactUs .emailUs button a {
  color: #64A604;
}
.mainContactUs .emailUs .fa-long-arrow-right {
  color: #64A604;
}
.mainContactUs .contactDetails {
  width: 40%;
  padding-left: 30px;
  background-color: #F0F0F0;
}
.mainContactUs .contactDetails li,
.mainContactUs .contactDetails p {
  color: #999999;
}
.mainContactUs .contactDetails div {
  width: 50%;
}
.mainContactUs .contactDetails h2 {
  padding-top: 100px;
  padding-bottom: 40px;
}
.mainContactUs .contactDetails h3 {
  padding-top: 60px;
  padding-bottom: 10px;
}
.mainContactUs .contactDetails li {
  padding-bottom: 20px;
}
.mainContactUs .contactDetails .ourNumber {
  padding-bottom: 50px;
}
.mainContactUs .contactDetails .bold {
  font-weight: 700;
  color: #2E2E2E;
}

.sectionBreak {
  background-image: url(../assets/contact-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

@media (max-width: 1500px) {
  header .menuFlex {
    width: 50%;
  }
  .menuFlex {
    gap: 0 !important;
  }
  .menuFlex li {
    padding-bottom: 2% !important;
  }
}
@media (max-width: 1250px) {
  .homeTextOne {
    padding: 0% !important;
  }
  .homeTextOne h2 {
    font-size: 1rem !important;
  }
  .homeTextOne p {
    font-size: 0.6rem !important;
    margin: 20px 10% !important;
  }
  .menuFlex {
    padding: 0 !important;
  }
  .menuFlex .fa-bars {
    font-size: 2em;
  }
  .menuFlex h3 {
    font-size: 1rem !important;
  }
  .menuFlex p {
    font-size: 0.55rem !important;
    line-height: 20px !important;
  }
  .menuFlex li {
    padding-bottom: 2% !important;
  }
  .bio {
    padding: 10px 2%;
    margin: 0;
  }
  .bio p {
    font-size: 0.65rem;
    line-height: 20px;
  }
  footer .recentPosts li {
    width: 90% !important;
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 1000px) {
  header .menuFlex {
    display: none;
  }
  header .menuWrap {
    display: inline;
  }
  .bodyFlexOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 20px !important;
  }
  .bodyFlexOne .imageContainer {
    width: 60%;
  }
  .bodyFlexOne .homeTextOne {
    width: 90% !important;
    padding-top: 20px !important;
  }
  .bodyFlexTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0% !important;
  }
  .bodyFlexTwo .imageContainer {
    width: 60%;
  }
  .bodyFlexTwo .homeTextOne {
    padding: 20px 0% !important;
  }
  .bodyFlexTwo .menuFlex {
    width: 90% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px !important;
  }
  .bodyFlexTwo .menuFlex .iconContainer {
    text-align: center;
  }
  .bodyFlexTwo .menuFlex i {
    font-size: 2em !important;
  }
  .about {
    padding-top: 100px !important;
  }
  .about .imageContainer {
    width: 70% !important;
  }
  .about .aboutUs {
    width: 70% !important;
  }
  .homeGallery ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homeGallery ul li {
    width: 50% !important;
  }
  .testimonals p {
    font-size: 0.8rem !important;
  }
  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutMe .imageContainer {
    width: 18%;
    padding-bottom: 20px;
  }
  .mainContactUs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContactUs .emailUs,
.mainContactUs .contactDetails {
    width: 100%;
    padding: 0 10%;
  }
  .mainContactUs .emailUs h2,
.mainContactUs .contactDetails h2 {
    padding-top: 50px;
  }
  .mainContactUs .contactDetails div {
    width: 100%;
  }
  .mainContactUs .contactDetails div h2,
.mainContactUs .contactDetails div h3 {
    padding-top: 50px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 800px) {
  .bodyFlex .imageContainer {
    width: 90% !important;
  }
  .bodyFlex li {
    width: 50% !important;
  }
  .bodyFlex i {
    margin: 0px !important;
  }
  .bio {
    padding: 5px !important;
    height: auto !important;
  }
  .cardContainer ul {
    padding-bottom: 0 !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cardContainer ul p {
    margin-bottom: 40px !important;
  }
  .commentGrow {
    height: auto !important;
  }
  .userInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/* Landscape phones and down */
@media (max-width: 620px) {
  .menuFlex {
    padding: 0 !important;
  }
  .iconContainer {
    width: 20%;
    text-align: left !important;
  }
  .aboutMe .imageContainer {
    width: 30% !important;
  }
  footer section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer section .ourAddress,
footer section .subNow,
footer section .recentPosts {
    width: 100%;
  }
  footer section .ourAddress ul,
footer section .subNow ul,
footer section .recentPosts ul {
    padding-top: 10px;
  }
  footer section .ourAddress ul li,
footer section .subNow ul li,
footer section .recentPosts ul li {
    padding-top: 10px !important;
    padding-bottom: 5px;
  }
  footer section .ourAddress .lastList,
footer section .subNow .lastList,
footer section .recentPosts .lastList {
    padding-bottom: 40px;
  }
  footer section .ourAddress p,
footer section .subNow p,
footer section .recentPosts p {
    padding: 10px 0;
  }
  footer .copyright {
    font-size: 0.6rem !important;
  }
}
.menuWrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menuWrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Hamburger Line */
.menuWrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Top and Bottom lines */
.menuWrap .hamburger > div:before,
.menuWrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/* moves line down */
.menuWrap .hamburger > div:after {
  top: 10px;
}

/* Toggler animate */
.menuWrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* Turn lines into X */
.menuWrap .toggler:checked + .hamburger > div:before,
.menuWrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* rotate on hover when checked */
.menuWrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

/* Show menu */
.menWrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menuWrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.menuWrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* visibility: hidden; */
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuWrap .menu > div {
  background: rgba(24, 39, 51, 0.85);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menuWrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4 ease;
  transition: opacity 0.4 ease;
}

.menuWrap .menu > div > div > ul > li {
  list-style: none;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
}

.menuWrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}